a:link {
  color: #4cf;
}

a:visited {
  color: #88f;
}

body {
  background: url(../assets/background.webp);
  color: #fff;
  margin: 0;
}

code {
  background-color: rgba(0, 0, 0, 0.25);
  font: 0.9em 'Roboto Mono', monospace;
  margin: 0.25em;
  padding: 0.2em;
}

details > summary {
  border-bottom: #444 2px solid;
  border-top: #444 2px solid;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 10px;
}

details > summary:hover {
  color: #9f9;
}

figure.game-card {
  flex: 1 1 auto;
  margin: 0.5em;
  text-align: center;
}

figure.game-card figcaption {
  color: yellow;
  font-weight: bold;
  margin-bottom: 0.2em;
  text-shadow: 1px 1px 2px black;
}

figure.game-card img {
  max-width: 100%;
  cursor: pointer;
  pointer-events: none;
  position: relative;
}

figure.game-card img:hover {
  filter: brightness(150%);
}

figure.game-card img.clubs:hover {
  filter: drop-shadow(0px 0px 10px #0f0);
}

figure.game-card img.diamonds:hover {
  filter: drop-shadow(0px 0px 10px #00f);
}

figure.game-card img.hearts:hover {
  filter: drop-shadow(0px 0px 10px #f00);
}

figure.game-card img.spades:hover {
  filter: drop-shadow(0px 0px 10px #c0f);
}

footer, header, main {
  font: 1em Montserrat, sans-serif;
}

h1 {
  text-align: center;
}

.active-link-unvisited:link {
  color: #fc4;
}

.active-link-visited:visited {
  color: #8f8;
}

.active-section {
  background-color: rgba(0, 255, 0, 0.2);
}

.code-block {
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 0.9em;
  padding: 0.5em;
  white-space: pre-wrap;
}

.deal-card-anim {
  animation:
    0.5s cubic-bezier(0, 0, 0.2, 1) deal-keyframes,
    0.5s linear 0.5s flip1-keyframes,
    0.5s linear 1.0s flip2-keyframes;
  animation-fill-mode: forwards;
}

.discard-card-anim {
  animation: 0.5s ease-in forwards discard-keyframes;
}

.game-button {
  align-self: center;
  background-color: #06f;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  font: 1em Montserrat, sans-serif;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.game-button:disabled {
  background-color: #777;
  color: #aaa;
}

/**
  Note: The active pseudoclass must be defined after the hover class in order to override the same
  property. Since active is when the button is pressed, it generally comes after hover in the
  sequences of interactions.
*/
.game-button:hover {
  filter: brightness(125%);
}

.game-button:active {
  filter: brightness(80%);
  box-shadow: 0 4px rgba(0, 0, 0, 0.4);
  transform: translateY(4px);
}

.game-card {
  perspective: 1000px;
}

.game-cards-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.game-poker-hand-label {
  font-weight: bold;
  text-align: center;
}

.header-navbar {
  background-color: #252;
}

.header-navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-navbar-list-item {
  align-items: center;
  display: inline-block;
  font-size: 1em;
  font-variant: small-caps;
  margin: 0;
  padding: 0.5em;
  transition: background-color 0.3s ease;
}

.header-navbar-list-item:link {
  text-decoration: none;
}

.header-navbar-list-item:hover {
  background-color: rgba(0, 255, 0, 0.25);
  cursor: pointer;
}

.header-navbar-list-item-active {
  background-color: rgba(0, 255, 0, 0.5);
}

.item-header {
  font-weight: bold;
}

.no-code-format {
  /* unset these, so that they do not overlap parent <pre> block properties */
  background-color: unset;
  margin: unset;
  padding: unset;
}

.page-header {
  position: sticky;
  transition: top 0.3s ease;
  width: 100%;

  /* ensures nav bar stays in front of dynamica content like the poker demo cards */
  z-index: 5;
}

.poker-hand-sample {
  text-align: center;
}

.poker-hand-sample-card {
  transform: scale(0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.scroll-to-top-button {
  background: url('../assets/btn-scroll-to-top.svg');
  bottom: 10px;
  display: none;
  right: 10px;
  position: fixed;
  border: none;
  width: 40px;
  height: 40px;
}

.scroll-to-top-button:hover {
  cursor: pointer;
  filter: brightness(200%) contrast(200%);
}

.section-container {
  padding: 0.1em 0.75em;
}

@keyframes deal-keyframes {
  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1.0;
    top: 0;
  }
}

@keyframes discard-keyframes {
  from {
    opacity: 1.0;
    top: 0;
  }

  to {
    opacity: 0;
    top: -50px;
  }
}

@keyframes flip1-keyframes {
  from {
    transform: rotateY(0deg);
  }
  
  to {
    transform: rotateY(90deg);
  }
}

@keyframes flip2-keyframes {
  from {
    transform: rotateY(-90deg);
  }
  
  to {
    transform: rotateY(0deg);
  }
}